* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F7F7F7;
}

h1 a {
  text-decoration: none;
  color: #3ea3ca;
}

h2 a {
  text-decoration: none;
  color: #515050;
}

h2 a:hover {
  opacity: 75%;
}

h1 a:hover {
  opacity: 75%;
}

p {
  line-height: 1.5;
}

.projects img:hover {
  opacity: 75%;
}

footer img:hover {
  opacity: 75%;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

  body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: #3ea3ca;
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    padding-top: 20px;
    flex: 100%;
  }

  h2 {
    color: #515050;
    text-align: center;
    font-size: 27px;
    overflow: hidden;
  }

  h2 a {
    text-decoration: none;
    color: #515050;
  }

  h3 {
    font-size: 24px;
    text-align: center;
    color: #3ea3ca;
  }

  .content p {
    padding: 10px 10px;
    text-align: center;
    color: #707070;
    padding-bottom: 20px;
    font-size: 20px;
  }

  nav {
    display: block;
  }

  nav a {
    text-decoration: none;
    color: #515050;
    display: block;
    padding: 15px;
  }

  nav li {
    float: left;
    overflow: hidden;
    text-transform: uppercase;
  }

  nav:last-child {
    margin-right: -15px;
  }

  nav {
    float: right;
  }

  nav a:hover {
    color: #3ea3ca;
    transition: 0.35s;
  }

  .projects img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding-bottom: 15px;
  }

  .projects p {
    padding: 20px 20px;
    text-align: center;
    color: #707070;
  }

  hr {
    color: #898989;
  }

  h4 {
    text-transform: uppercase;
    color: #777777;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    font-weight: 300;
  }

  footer img {
    width: 20%;
    margin-left: 20%;
  }

  footer p {
    font-size: 14px;
    text-align: center;
    padding: 20px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  body {
    text-align: center;
  }

  h1 {
    color: #3ea3ca;
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    padding-top: 20px;
  }

  h2 {
    color: #515050;
    text-align: center;
    font-size: 27px;
    overflow: hidden;
  }

  h2 a {
    text-decoration: none;
    color: #515050;
  }

  h3 {
    font-size: 24px;
    text-align: center;
    color: #3ea3ca;
  }

  .content p {
    padding: 10px 10px;
    text-align: left;
    color: #707070;
    padding-bottom: 20px;
    font-size: 23px;
  }

  nav {
    list-style:none;
    margin:0;
    padding:18px;
    text-align:center;
  }

  nav a {
    text-decoration: none;
    color: #515050;
    padding: 20px;
  }

  nav ul {
    float: right;
  }

  nav li {
    display: inline;
    text-transform: uppercase;
  }

  nav a:hover {
    color: #3ea3ca;
    transition: 0.35s;
  }

  .projects img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding-bottom: 15px;
  }

  .projects p {
    padding: 20px 20px;
    text-align: center;
    color: #707070;
  }

  hr {
    color: #898989;
  }

  h4 {
    text-transform: uppercase;
    color: #777777;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    font-weight: 300;
  }

  .contact {
    width: 100%;
    display: inline;
  }

  .contact img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: auto;
    padding: 25px 25px;

  }

  footer p {
    font-size: 14px;
    text-align: center;
    padding: 20px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    text-align: center;
  }

  .wrap {
    margin-left:auto;
    margin-right:auto;
    max-width: 1000px;
  }

  h1 {
    color: #3ea3ca;
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    padding-top: 20px;
  }

  h2 {
    color: #515050;
    text-align: center;
    font-size: 27px;
    overflow: hidden;
  }

  h2 a {
    text-decoration: none;
    color: #515050;
  }

  h3 {
    font-size: 24px;
    text-align: center;
    color: #3ea3ca;
  }

  .content p {
    padding: 10px 10px;
    text-align: left;
    color: #707070;
    padding-bottom: 20px;
    font-size: 23px;
  }

  nav {
    list-style:none;
    margin:0;
    padding:18px;
    text-align:center;
  }

  nav a {
    text-decoration: none;
    color: #515050;
    padding: 20px;
  }

  nav a:hover {
    color: #3ea3ca;
    transition: 0.35s;
  }

  nav ul {
    float: right;
  }

  nav li {
    display: inline;
    text-transform: uppercase;
  }

  .projects img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding-bottom: 15px;
  }

  .projects p {
    padding: 20px 20px;
    text-align: center;
    color: #707070;
  }

  hr {
    color: #898989;
  }

  h4 {
    text-transform: uppercase;
    color: #777777;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    font-weight: 300;
  }

  .contact {
    width: 100%;
    display: inline;
  }

  .contact img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: auto;
    padding: 25px 25px;

  }

  footer p {
    font-size: 14px;
    text-align: center;
    padding: 20px;
  }
}
